<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
<h1>Add a contact</h1>
<p>Please fill in all fields: </p>
<ul>>
<ls></ls>
<ls></ls>
<ls></ls>
</ul>
</body>
</html>