<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<body>
	<hi>Welcome <%= @crm_app_name %></hi>
	<p>Main Menu</p>
	<ul>
		<li><a href="/contacts">View all contacts</a></li>
		<li><a href="/contacts/new">Add contacts</a></li>
		<li><a href="/contacts/edit">Edit contacts</a></li>
		<li><a href="/contacts/delete">Delete contacts</a></li>
	</ul>
</body>
</html>