<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<body>
	<hi>Welcome to this CRM!</hi>
	<p>Main Menu</p>
	<ul>
		<li><a href="/contacts">View all contacts</a></li>
		<li><a href="/add_contacts">Add contacts</a></li>
		<li><a href="/edit_contacts">Edit contacts</a></li>
		<li><a href="/delete_contacts">Delete contacts</a></li>
	</ul>
</body>
</html>