<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<header>This CRM is for NANCY</header>
	<nav>
		<ul>
			<li><a href="/contacts">View all contacts</a></li>
			<li><a href="/contacts/new">Add contacts</a></li>
			<li><a href="/contacts/edit">Edit contacts</a></li>
			<li><a href="/contacts/delete">Delete contacts</a></li>
		</ul>
	</nav>
	<%= yield %>
	<footer>Created in the year 2015 during the month of June</footer>
</body>
</html>